* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 25px;
}

.trapezoid-switch {
	cursor: default;
	display: inline-block;
	font-size: 0;
}

.trapezoid-switch > .item {
	height: 0.75rem;
	display: inline-block;
	box-sizing: border-box;
	padding: 2px;
	background-color: #000;
}

.trapezoid-switch > .item.left {
	width: 1.5rem;
	clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
	border-top-left-radius: 0.33rem;
	border-bottom-left-radius: 0.33rem;
}

.trapezoid-switch > .item.right {
	
	width: 1.5rem;
	clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
	border-top-right-radius: 0.33rem;
	border-bottom-right-radius: 0.33rem;
	margin-left: -0.46rem;
}

.trapezoid-switch > .item > .content {
	display: inline-block;
	/* text-align: center; */
	width: 100%;
	height: 100%;
	font-size: 0rem;
	box-sizing: border-box;
	padding:0.5em;
}

.trapezoid-switch > .item > .content.left {
	clip-path: polygon(0% 0%, 99% 0%, 69% 100%, 0% 100%);
	border-top-left-radius: 0.33rem;
	border-bottom-left-radius: 0.33rem;
	background-color: #fff;
}

.trapezoid-switch > .item > .content.right {
	clip-path: polygon(31% 0%, 100% 0%, 100% 100%, 1% 100%);
	border-top-right-radius: 0.33rem;
	border-bottom-right-radius: 0.33rem;
	background-color: #fff;
}

.trapezoid-switch > .item > .content > .text {
	width: 100%;
	display: inline-block;
	position: absolute;
	font-size: 0.5rem;
	line-height: 1;
	font-family: 微軟正黑體;
	font-weight: 600;
	color: #000;
	box-sizing: border-box;
	padding: 0.05rem 0 0 0.25rem;
}

.trapezoid-switch > .item > .content.right > .text {
	font-size: 0.5rem;
	padding: 0.075rem 0 0 0.35rem;
}