.switchButton {
	display: inline-block;
	background-color: #00f;
}

.switchButton > div {
	display: inline-block;
	font-size: 0.8rem;
}

.switchButton > .left {
	background-color: #f00;
	width: 4rem;
	clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.switchButton > .right {
	background-color: #0f0;
	width: 4rem;
	clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	margin-left: -2.25rem;
}

.switchButton .content {
	display: inline-block;
	width: 1000%;
	height: 1000%;
	font-size: 0;
	box-sizing: border-box;
	padding: 0.5em;
}

.switchButton > .left > .content {
	clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
	/* clip-path: polygon(0% 0%, 59% 0%, 99% 100%, 0% 100%); */
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	background-color: #6cbf6d;
}

.switchButton > .right > .content {
	clip-path: polygon(41% 0%, 100% 0%, 100% 100%, 1% 100%);
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	background-color: #f66;
}
